<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hpm.blog.mapper.UserMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into user(name, email, password, full_name, class_taken,
         fun_stuff, other_stuff, links)
        values
        (#{name},#{email},#{password},#{fullName},#{classTaken},#{funStuff},
        #{otherStuff},#{links})
    </insert>

    <select id="findOne" resultType="User">
      select * from user
      <where>
          <if test="id!=null">
              id=#{id}
          </if>
          <if test="name!=null">
              and name=#{name}
          </if>
          <if test="email!=null">
              and email=#{email}
          </if>
      </where>
    </select>

    <update id="save" parameterType="User">
        update user
            set full_name = #{fullName},
               <if test="email!=null">
                    email = #{email},
                </if>
                <if test="password!=null">
                    password = #{password},
                </if>
                class_taken = #{classTaken},
                fun_stuff = #{funStuff},
                other_stuff = #{otherStuff},
                links = #{links}
        where id = #{id}
    </update>
</mapper>