.clicker {
    width: 640px;
    outline: solid;
    cursor: pointer;
}

.hiddendiv{
    display: none;
    width: 640px;
    margin-top: 20px;
}

.clicker:focus + .hiddendiv{
    display:block;
}